.activities-container{
    display: inline-block;
    width: 70%;
}

.activity {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 50px 0 0;
	overflow: hidden;
}

.activity h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
}

.activity h4 {
	font-size: 16px;
}

.activity-preview {
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.activity-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
    text-decoration: none;
    width: 100%;
}

.activity-info {
	padding: 30px;
    position: relative;
    display: inherit;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
    margin-left: 50px;
    letter-spacing: 1px;
    float: right;
}

/* color per activity type */
.project{
	background-color: #2196f3;
}

.article{
	background-color: #43a047;
}